#IDE
.vscode/
.idea
.DS_Store
.env
configuration.yaml
configuration.yml
powervoting-contracts/yarn.lock
powervoting-contracts/artifacts
powervoting-contracts/ignition/deployments
powervoting-contracts/typechain-types
powervoting-contracts/.openzeppelin
*.ucan
power-oracle-contracts/artifacts
power-oracle-contracts/typechain-types
power-oracle-contracts/.openzeppelin
.env
*.ucan
power-oracle-contracts/cache

contracts/artifacts
contracts/cache
contracts/typechain-types

snapshot/data/**
contracts/coverage
coverage.json
contracts/.openzeppelin

*/node_modules
**/tmp
**/node_modules
