[submodule "power-voting"]
	path = power-voting
	url = https://github.com/black-domain/power-voting
[submodule "powervoting-backend"]
	path = powervoting-backend
	url = https://github.com/black-domain/powervoting-backend
[submodule "powervoting-contracts"]
	path = powervoting-contracts
	url = https://github.com/black-domain/powervoting-contracts
[submodule "power-oracle-contracts"]
	path = power-oracle-contracts
	url = https://github.com/black-domain/power-oracle-contracts
[submodule "power-oracle-node"]
	path = power-oracle-node
	url = https://github.com/black-domain/power-oracle-node
[submodule "ucan-utils"]
	path = ucan-utils
	url = https://github.com/black-domain/ucan-utils
