server:
  port: :<PORT>
redis:
  uri: <REDIS_IP>:<PORT>
  user:
  password:
  db: 0

nats:
  uri: <NATS_URI>

network:
  - id: <NETWORK_ID>
    name: <NETWORK_NAME>
    idPrefix: <ID_PREFIX>
    queryRpc: [<QUERY_RPC_URL>]
    contractRpc: <CONTRACT_RPC_URL>
    oracleContract: <ORACLE_CONTRACT_ADDRESS>
    oracleStartHeight: <ORACLE_START_HEIGHT>
    oracleAbi: /dist/oracle.json

github:
  token:
    - <GITHUB_TOKEN_1>
    - <GITHUB_TOKEN_2>
  graphql: https://api.github.com/graphql