server:
  port: ${PORT}
  rpcPort: ${RPC_PORT}

snapshot:
  rpc: ${SNAPSHOT_RPC}

drand:
  url:
    - "https://api.drand.secureweb3.com:6875"
    - "https://api.drand.sh/"
    - "https://api2.drand.sh/"
    - "https://api3.drand.sh/"
    - "https://drand.cloudflare.com/"
  chainHash: "52db9ba70e0cc0f6eaf7803dd07447a1f5477735fd3f661792ba94600c84e971"

github:
  token: ${GITHUB_TOKEN}

mysql:
  url: ${MYSQL_NODE}
  username: ${MYSQL_USER}
  password: ${MYSQL_PASSWORD}

network:
  chainId: ${CHAIN_ID}
  name: ${CHAIN_NAME}
  rpc: ${CHAIN_RPC_NODE}
  syncEventStartHeight: ${SYNC_EVENT_START_HEIGHT}
  oracleContract: ${ORACLE_CONTRACT}
  minerIdPrefix: ${MINER_ID_PREFIX}

  oraclePowersContract: ${ORACLE_POWERS_CONTRACT}
  powerVotingContract: ${POWERVOTING_CONTRACT}

  fipContract: ${FIP_CONTRACT}
  fipInitEditor: ${FIP_INIT_EDITOR}

abiPath:
  powerVotingAbi: ${POWERVOTING_ABI_PATH}
  oraclePowersAbi: ${ORACLE_POWERS_ABI_PATH}
  oracleAbi: ${ORACLE_ABI_PATH}
  fipAbi: ${FIP_ABI_PATH}
